body {
    background-color: blanchedalmond;
}


.header {
    background-color: darkblue;
    text-align: center;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 75px;
    font-size: 20px;

}

.topnav {
    overflow: hidden;
    background-color: royalblue;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
    font-size: 20px;
    padding: 0px 10px;
    
}

.topnav a {
    float: left;
    display: block;
    color: rosybrown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: darkcyan;
    color: bisque;
}





.content  {
    overflow: scroll;
    background-color: royalblue;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
    font-size: 20px;
    padding: 175px;
    


}

section {
    
    display:block;
    float:left;
    width:30%;
    position:relative;
    
   
}

#menu{
    height: 75%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: wheat;
    margin-left: 5px;
    margin-top: 75px;

}

#menu1 {
    height: 75%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: wheat;
    margin-left: 5px;
    margin-top: 75px;
}
